body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    /* IE10 */
background-image: -ms-linear-gradient(bottom, #bfbfbf 0%,rgb(247, 249, 255) 100%);
 
/* Mozilla Firefox */
background-image: -moz-linear-gradient(bottom,  #bfbfbf 0%,rgb(247, 249, 255) 100%);
 
/* Opera */
background-image: -o-linear-gradient(bottom,  #bfbfbf 0%,rgb(247, 249, 255) 100%);
 
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom,  #bfbfbf 0%,rgb(247, 249, 255) 100%);
 
/* Regola standard */
background-image: linear-gradient(bottom, #bfbfbf 0%,rgb(247, 249, 255) 100%);


}

h2 {
    text-align: left;
    color: #000;
}

h3 {
    font-size: 2em;
    color: #d40404;
    text-align: center;
    bottom: 0.3em;
    margin-top: 20px;
}

h1 {
    position: relative;
    font-size: 3em;
    color: #7a0b0b;
    text-align: center;
    font-family: 'Old Standard TT', serif;
}

h4 {
    color: #000;
}
hr.partition {
    border: 0;
    height: 1px;
    width: 50%;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
    }

.container-fluid {
    text-align: center;
    display: flow-root;
}
#main {
    z-index: 1;
    width: 5%;
    font-size: 33px;
    cursor: pointer;
    transition: margin-left .5s;
    position: relative;
    margin: 0;
    padding: 0;
    top: 1em;
    color: #fa3535;
}

#main:hover {
    color: #7a0b0b;
}

.sidenav {
    float: right;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #7a0b0b;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #c5bcbc;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    font-size: 40px;
    position: relative;
    right: 70px;
}

.sidenav .closebtn {
    color: #ffffff;
    background-color: #5a020202
}

.effect-fade{
    position: relative;
    float: left;
    width: 30%;
    align-items: center;
}
#foto {
    width: 100%;
}
.textarea{
    float: left;
    width: 50%;
}
/* chi sono */
p {
    text-align: justify;
    font-size: 20px;
    color: #000;
}

.button {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 20px;
    width: 200px;
    color: #fff;
    background-color: #d40404;
    text-align: center;
    font-size: 18px;
    z-index: 1;
    box-shadow: 0 9px #999;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #fa3535;
}
.button:active{
  background-color: #fa3535;
  box-shadow: 0 5px #666;
  transform: translateY(4px)
}
.button:after{
    content: "";
    background: rgb(248, 3, 3);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.button:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

/* conoscenze */
#skillbar{
    margin-top: 20px;
    float: left;
    width: 50%;
    opacity: 100;
}
.skillbar {
    position: relative;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    background: #fff;
    height: 35px;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 3px;
    transition: 0.1s linear;
    transition-property: width, background-color;
}

.skillbar-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    background: #6adcfa;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-title span {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    height: 35px;
    line-height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.skillbar-bar {
    height: 35px;
    width: 0px;
    background: #6adcfa;
    border-radius: 3px;
}

.skill-bar-percent {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 15px;
    height: 35px;
    line-height: 35px;
    color: #ffffff;
    color: rgba(0, 0, 0, 0.7);
}

/* contact */
#contact-display{
    display: none;
}
.contact{
    text-align: center;
    float: left;
    width: 30%;
    margin: 1.5%;
    margin-left: 10%;
    
}
a {
    text-decoration: none;
    padding: 20px 5px 5px 20px;
    font-size: 3em;
    color: #0d0753;
}
a:hover {
    color: #1f12af;
}
#btn-contact{
    width: 90%;
    font-size: 24px;
  }

/* modal */
.modal{
    display: none;
    margin: 0 auto;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /*Location of the box */
    left: 0;
    top: 0;
    width: 50%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .modal-content h3{
    margin: 0;
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    background: #0d0753;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  .icon:hover{
      background: #1a0e9e;
  }
  
  /* Style the input fields */
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid #373afc;
  }
  
  /* Set a style for the submit button */
  .btn-modal {
    padding: 15px 20px;
    width: 100%;
  }
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




/* media */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/*@media screen and ( min-width: 968px ) {
  /* half-width cells for larger devices */
  /*.carousel-cell { width: 50%; }
}*/